html{
    background-color:rgba(252, 201, 227, 0.856);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    background-color: white;
    width: 800px;
    font-size: 30px;
    color:rgb(104, 1, 1);
    text-align: left;
    height: 60px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}
h2{
    background-color: white;
    width: 800px;
    color:aqua;
    font-size: 16px;
    text-align: left;
    height: 50px;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    position: relative;
}
td.a{
    width: 200px;
}
td::first-line{
    font-size: 26px;
    color:coral;
}
table{
    color:rgb(77, 76, 76);
    font-size: 16px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    box-sizing: border-box;
    background-color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}